{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}homeTemplate{% endblock %}
    </title>

    {% block basicLinks %}

    <script src="{% static 'walpapir/jQuery/3-3-1.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'walpapir/CSS/menustyle.css' %}" />
    <script type="text/javascript" src="{% static 'walpapir/js/FixNavigation.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" />

    {% endblock %}

    <style>
    {% if user.is_authenticated %}

      .hamburgerMenuItem, .hamburgerMenuOpenButton {
        background-color: #00B6F3;
      }

      .hamburgerMenuOpen {
        background-color: #00B6F3;
      }

    {% endif %}

    {% block style %}
    {% endblock %}
    </style>

    {% block additionalLinks %}{% endblock %}

  </head>
  <body>
    {% block headerBox %}

    <div id="headerBox">

      <div id="logo"></div>
      <div id="logoWord">WalPapir</div>
      {% if not user.is_authenticated %}
      <a class="signUpButton" href="{% url 'walpapir:signUp' %}">Sign&nbsp;&nbsp;up</a>
      {% endif %}
      <div id="menuIcon">
      <script>
        $(function(){});
          $(window).on('load resize', function(){
            if(window.innerWidth >= 801){
              document.getElementById('logo').innerHTML = '<img src="{% static "walpapir/UI/logo_60x60.png" %}" id="menuIcon" />';
            } else {
              document.getElementById('logo').innerHTML = '<img src="{% static "walpapir/UI/logo_40x40.png" %}" id="menuIcon" />';
            }
          })
      </script>
    </div>
    </div>

    <form action="{%url 'walpapir:search'%}" method="GET">
      <input type="text" class="search" placeholder="&#xf002; Search..." name="search">
      <input type="hidden" name="page" value="1">
      <input type="hidden" name="select" value="0">
    </form>

    {% endblock %}

    {% block navigationBar %}

    <!-- navigation bar -->
      <ul class="menu">
        <li><a href="{% url 'walpapir:home' %}">
          HOME</a></li>

      <li><a href="{% url 'walpapir:desktop' %}">
          DESKTOP</a></li>

      <li><a href="{% url 'walpapir:mobile' %}">
          MOBILE</a></li>

      {% if user.is_authenticated %}
      <li><a href="{% url 'walpapir:user_d' %}">
          USER</a></li>
      {% else %}
      <li><a href="{% url 'walpapir:login' %}">
        Sign in</a></li>
      {% endif %}
      <li class="slider"></li>

    </ul>
    <!-- navigation bar -->

    {% endblock %}

    {% block hamburgerMenu %}

    <!-- hamburgerMenu -->

    <nav class="hamburgerMenu">
      <input type="checkbox" href="#" class="hamburgerMenuOpen" name="hamburgerMenuOpen" id="hamburgerMenuOpen" />
      <label class="hamburgerMenuOpenButton" for="hamburgerMenuOpen">
        <span class="hamburger hamburger1"></span>
        <span class="hamburger hamburger2"></span>
        <span class="hamburger hamburger3"></span>
      </label>

      <a href="{% url 'walpapir:how2use' %}" class="hamburgerMenuItem"><i class="fas fa-question"></i></a>
      <a href="./page4Post.html" class="hamburgerMenuItem"><i class="fas fa-paper-plane"></i></a>
      <a href="./favPage.html" class="hamburgerMenuItem"><i class="fa fa-heart"></i></a>
      <a href="mailto:papillonp@icloud.com" class="hamburgerMenuItem"><i class="fa fa-envelope"></i></a>

    </nav>

    <!-- filters -->
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="shadowed-goo">

              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
              <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
              <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
              <feOffset in="shadow" dx="1" dy="1" result="shadow" />
              <feComposite in2="shadow" in="goo" result="goo" />
              <feComposite in2="goo" in="SourceGraphic" result="mix" />

          </filter>
          <filter id="goo">

              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
              <feComposite in2="goo" in="SourceGraphic" result="mix" />

          </filter>
        </defs>
    </svg>

    <!-- filters -->

    <!-- hamburgerMenu -->
    {% endblock %}

    {% block mainContent %}<div id="wrap"></div>{% endblock %}


  </body>

</html>
