{% extends './homeTemplate.html' %}

{% load static %}

{% block title %}Usage{% endblock %}

{% block additionalLinks %}

<script src=" {% static 'walpapir/jQuery/pace.js' %}"></script>
<link rel="stylesheet" href="{% static 'walpapir/multiscroll/jquery.multiscroll.css' %}" />
<script src=" {% static 'walpapir/multiscroll/jquery.multiscroll.min.js' %} "></script>
<script type='text/javascript' src='{% static "walpapir/multiscroll/vendors/jquery.easings.min.js" %}'></script>

<script type="text/javascript">

$(document).ready(function() {
  $('#multiscroll').multiscroll({
    verticalCentered: true,
    scrollingSpeed: 500,
    easing: 'easeInQuart',
    //sectionsColor: ['#44a8eb', '#ab69c6', '#f68e32', '#26b095'],
    navigation: false,
    loopBottom: false,
    loopTop: false,
  });
});

</script>

{% endblock %}

{% block style %}

@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p&subset=japanese');
a.active{
  background-color: #3498db;
  pointer-events: none;
}

li.slider{
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3498db;
  z-index: 8;
  transition: left 0.4s, background-color 0.4s;
}

body {
  background: none;
}

.mleft1 {
  background-image: url("{% static 'walpapir/UI/BLBackground.png' %}");
}

.mleft2 {
  background-image: url("{% static 'walpapir/UI/BLBackground.png' %}");
}

.mleft3 {
  background-image: url("{% static 'walpapir/UI/BLBackground.png' %}");
}

.mleft4 {
  background-image: url("{% static 'walpapir/UI/BLBackground.png' %}");
}

.mright1 {
  background-image: url("{% static 'walpapir/UI/BLBackground.png' %}");
}

.mright2 {
  background-image: url("{% static 'walpapir/UI/BLBackground.png' %}");
}

.mright3 {
  background-image: url("{% static 'walpapir/UI/BLBackground.png' %}");
}

.mright4 {
  background-image: url("{% static 'walpapir/UI/BLBackground.png' %}");
}

.contentPaper {
  position: absolute;
  background-image: url("{% static 'walpapir/UI/paper.png' %}");
  top: 190px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  height: auto;
  width: auto;
  border-radius: 20px;
  font-family: "Roboto Slab", "M PLUS 1p", sans-serif;
  color: #222;
}

{% endblock %}

{% block mainContent %}

<div id='multiscroll'>
  <div class="ms-left">
    <div class="ms-section mleft1">
      <div class="contentPaper">
        <br>
        <p align="center"><span style="font-size:50px;">平等なチャンス</span><br>
        <br><br><br>
        <span style="font-size:25px;">
        どんなユーザーでも平等に写真を公開できます。<br>
      興味のあるジャンル、探しているジャンルごとに表示されるので<br>人気にかかわらず自分の写真を見てもらうことができます。
      </span></p></div>
    </div>
    <div class="ms-section mleft2">

    </div>
    <div class="ms-section mleft3">
      <div class="contentPaper">
        <br>
        <p align="center"><span style="font-size:50px;">モバイルとPCの両方に対応</span><br>
        <br><br><br>
        <span style="font-size:25px;">
        モバイル用の壁紙とPC用の壁紙の両方に対応できるようになっております。<br>
        <br></span></p>
        <span style="font-size:25px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        モバイル用推奨アスペクト比
        &nbsp;&nbsp;&nbsp;&nbsp;
        16:9&nbsp;もしくは&nbsp;2:1(iPhoneX)<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        pc用推奨アスペクト比
        &nbsp;&nbsp;&nbsp;&nbsp;
        9:16
        </span>
      </div>
    </div>
    <div class="ms-section mleft4">

    </div>
  </div>

  <div class='ms-right'>
    <div class="ms-section mright1">

    </div>
    <div class="ms-section mright2">
      <div class="contentPaper">
        <p align='center'>AI</p>
      </div>
    </div>
    <div class="ms-section mright3">

    </div>
    <div class="ms-section mright4">
      <div class="contentPaper">
        <p align='center'>お問い合わせ</p><br><br>
        mail:
      </div>
    </div>
  </div>
</div>

{% endblock %}
