{% extends './homeTemplate.html' %}
{% load static %}

{% block title %}ImageView{% endblock %}

{% block style %}

a.active{
  background-color: #3498db;
  pointer-events: none;
}

li.slider{
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3498db;
  z-index: 8;
  transition: left 0.4s, background-color 0.4s;
}

#left-content {
  border-radius: 12px;
  font-family: "Roboto Slab", sans-serif;
  width: 80%;
  position: absolute;
  left: 6%;
  top: 170px;
  background-image:  url("{% static 'walpapir/UI/paper.png' %}");
  text-align: center;
  padding-bottom: 70px;
}

#right-content {
  width: 15%;
  position: absolute;
  right: 6%;
  top: 250px;
  background-image: url("{% static 'walpapir/UI/paper.png' %}");
  border-radius: 12px;

  display: none;
}

#wrap {
  margin-bottom: 50px;
}

body {
  padding-bottom: 70px;
}

{% endblock %}

{% block additionalLinks %}
<link rel="stylesheet" href="{% static 'walpapir/CSS/ImageView.css' %}">

<script type="text/javascript">

  //Filter of fast-style-transfer
  $(function styleFilter(){
    $(".styleFilter").mouseover(function(){
      $(this).find("img").css("border","solid 2px blue");
      $(this).find("div").css("display", "inline");
    }).mouseout(function(){
      $(this).find("img").css("border", "solid 2px black");
      $(this).find("div").css("display", "none");
    })
  })

  $(function(){
    var wid;
    if($(window).width()>800){
      wid = $(window).width()*0.6;
    }else{
      wid = $(window).width()*0.88;
    }
    var fil = Math.floor(wid/200);
    fil = Math.floor(100/fil);
    fil = fil + "%";
    $(".image_fild").css("width", fil);

    $(window).resize(function(){
      var wid;
      if($(window).width()>800){
        wid = $(window).width()*0.6;
      }else{
        wid = $(window).width()*0.88;
      }
      var fil = Math.floor(wid/200);
      fil = Math.floor(100/fil);
      fil = fil + "%";
      $(".image_fild").css("width", fil);
    })
  })

</script>
{% endblock %}

{% block mainContent %}

      <div id="left-content">
        <br>
        {% if prev != -1 %}
        <a href="{% url 'walpapir:image_view' prev %}">
        <div id="previousButton">
          <i class="fas fa-caret-left"></i>
        </div>
        </a>
        {% endif %}

        {% if next != -1 %}
        <a href="{% url 'walpapir:image_view' next %}">
        <div id="nextButton">
          <i class="fas fa-caret-right"></i>
        </div>
        </a>
        {% endif %}

        <div style="font-size:40px;"><p align="center">{{photo.title}}</p></div>
        <hr style="border: 0.5px solid #ccc">
        <br><br><br>
        <img src="{{photo.image.url}}" style="border:solid 1px black">
        <br><br><br>
        <hr style="border: 0.5px solid #ccc">
        <br><br>

<!--
        <script>
          const STYLE_NUMBERS = 6;
          const STYLE_IMAGES = new Array('la_muse', 'rain_princess', 'the_scream', 'the_shipwreck_of_the_minotaur', 'udnie', 'wave');

            for(var i=0;i<STYLE_NUMBERS;i++){
              document.write('<div align=\"center\" style=\"float:left;\" class=\"image_fild\">');
              document.write('<div style=\"position:relative;margin:5px;width:190px;background:white;\" class=\"image\">')
              document.write('<span id=\"scale\"></span>');
              document.write('<img src=\"{% static \"walpapir/style/'+STYLE_IMAGES[i]+'.jpg\" %}" >');
              document.write('<div style=\"position:absolute;width:190px;background-color:rgba(0,0,0,0.7);bottom:6px;left:2px;display:none;\" class=\"text\">');
              document.write('<span style=\"color:white;\">'+STYLE_IMAGES[i]+'</span>');
              document.write('</div>');
              document.write('</div>');
              document.write('</div>');
            }
        </script>
-->
      </div>



      <div id="right-content">
        <br><br>
      </div>

{% endblock %}
