{% extends './homeTemplate.html' %}
{% load static %}

{% block title %}ImageView{% endblock %}

{% block style %}

a.active{
  background-color: #3498db;
  pointer-events: none;
}

li.slider{
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3498db;
  z-index: 8;
  transition: left 0.4s, background-color 0.4s;
}

#left-content {
  border-radius: 12px;
  font-family: "Roboto Slab", sans-serif;
  width: 80%;
  position: absolute;
  left: 6%;
  top: 170px;
  background-image:  url("{% static 'walpapir/UI/paper.png' %}");
  text-align: center;
  padding-bottom: 70px;
}

#right-content {
  width: 15%;
  position: absolute;
  right: 6%;
  top: 250px;
  background-image: url("{% static 'walpapir/UI/paper.png' %}");
  border-radius: 12px;

  display: none;
}

#wrap {
  margin-bottom: 50px;
}

body {
  padding-bottom: 70px;
}

{% endblock %}

{% block additionalLinks %}
<link rel="stylesheet" href="{% static 'walpapir/CSS/ImageView.css' %}">
{% endblock %}

{% block mainContent %}

    <div id="wrap">
      <div id="left-content">
        <br><br><br>
        <div id="previousButton">
          <i class="fas fa-caret-left"></i>
        </div>
        <a href="{% url 'walpapir:image_view' next %}">
        <div id="nextButton">
          <i class="fas fa-caret-right"></i>
        </div>
        </a>
        <div style="font-size:40px;"><p align="center">{{photo.title}}</p></div>
        <hr style="border: 0.5px solid #ccc">
        <br><br><br>
        <img src="{{photo.image.url}}" style="border:solid 1px black">
        <br><br><br><br><br>
      </div>

      <div id="right-content">
        <br><br>
      </div>
    </div>

{% endblock %}
