{% extends './homeTemplate.html' %}

{% block title %}mobile{% endblock %}

{% block style %}

a.active{
  background-color: #e67e22;
  pointer-events: none;
}

li.slider{
  width: 25%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  background-color: #e67e22;
  z-index: 8;
  transition: left 0.4s, background-color 0.4s;
}

{% endblock %}

{% block additionalLinks %}

<script type="text/javascript">

  $(function(){
    var wid
    if($(window).width()>800){
    wid = $(window).width()*0.6;
    }else{
      wid = $(window).width()*0.88;
    }
    var fil = Math.floor(wid/200);
    fil = Math.floor(100/fil);
    fil = fil+"%";
    $(".image_fild").css("width",fil);

    $(window).resize(function(){
    var wid
    if($(window).width()>800){
      wid = $(window).width()*0.6;
    }else{
      wid = $(window).width()*0.88;
    }
    var fil = Math.floor(wid/200);
    fil = Math.floor(100/fil);
    fil = fil+"%";
    $(".image_fild").css("width",fil);
  })
})


$(function(){
  $(".image").mouseover(function(){
    $(this).find("img").css("border","solid 2px blue");
    $(this).find("div").css("display","inline");
  }).mouseout(function(){
    $(this).find("img").css("border","solid 2px black");
    $(this).find("div").css("display","none");
  })
})

</script>

{% endblock %}

{% block mainContent %}

<div id="wrap">
  <div id="left-content">
    <br><br><br><br><br>

    <div style="width:100%;float: left;" id="fild">
    {% for p in photo %}
    {% if p.mode %}

    <div align="center" style="float:left;" class="image_fild">
      <div style="position:relative;margin:5px;width:190px;background:white;" class="image">
        <a href="{% url 'walpapir:image_view' p.pk %}">
        <span id="scale"></span>
        <img src="{{p.image.url}}" style="width: 190px;height: 190px;border:solid 2px black;"  alt="{{p.title}}" oncontextmenu="return false;">
        <div style="position:absolute;width:190px;background-color:rgba(0,0,0,0.7);bottom:6px;left:2px;display:none;" class="text">
          <span style="color:white;">{{p.title}}</span>
        </div>
        </a>
      </div>
    </div>

    {% endif %}
    {% endfor %}
    </div>

    <br><br><br><br><br>
  </div>
  <div id="right-content">
    <br><br>
  </div>
</div>

{% endblock %}
