{% extends './homeTemplate.html' %}

{% block title %}Sign up{% endblock %}
{% load static %}
{% block additionalLinks %}
<script src=" {% static 'walpapir/jQuery/pace.js' %}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'walpapir/CSS/ButtonEffects.css' %}" />
<link rel="stylesheet" href="{% static 'walpapir/CSS/loadingbar.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<script src="{% static 'walpapir/jQuery/3-3-1.js' %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{% static 'walpapir/CSS/menustyle.css' %}" />
<script type="text/javascript" src="{% static 'walpapir/js/FixNavigation.js' %}"></script>
{% endblock %}

{% block style %}
input {
  font-size: 100%;
  font-family: inherit;
  border: none;
  background-color: rgba(0,0,0,0);
  width: 100%;
  height: 39px;
}

a.active{
  background-color: #3498db;
  pointer-events: none;
}

li.slider{
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3498db;
  z-index: 8;
  transition: left 0.4s, background-color 0.4s;
}

#formPaperPNG{
  font-size: 35px;
  width: 700px;
  left: 50%;
  transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  height: 490px;
  position: absolute;
  top: 250px;
  margin-bottom: 50px;
  background-image: url("{% static 'walpapir/UI/lines.png' %}"), url("{% static 'walpapir/UI/paper.png' %}");
  background-repeat: repeat-y, repeat;
  border-radius: 12px;
  display: flex;
  -webkit-box-shadow: 0px 2px 14px #000;
  box-shadow: 0px 2px 14px #000;
  display: flex;
}

#LeftSideOfPaper {
  top: 0;
  left: 0;
  width: 20%;
}

#RightSideOfPaper {
  font-family: Courier, monospace;
  top: 0;
  right: 0;
  width: 130%;
}

.effect .rightPointEffect {
  top: 950px;
}

#RightSideOfPaper p b {
  font-family:"Lato", sans-serif;
}

{% endblock %}

{% block mainContent %}
<!-- submission paper -->
<form action="#" name="form1" method="post">
<div id="formPaperPNG">
  <div id="LeftSideOfPaper">
  </div>
  <div id="RightSideOfPaper">
    <p align="left"><b>Registration Form</b></p>
  <!--    <input type="text" name="handle_name" style="
      font-size: 100%;
      font-family: inherit;
      border: none;
      background-color: rgba(0,0,0,0);
      width: 100%;
      height: 39px;
      "
      placeholder="username" >
      <br> -->
      {{ form.non_field_errors }}
      {% for field in form %}<br>
      <div class="form-group">
      <label for="{{ field.id_for_label }}"><!-- {{ field.label_tag }} --></label>
      {{ field }}
      <font size="3px">{{ field.errors }}</font>
      </div>
      {% endfor %}

      {% csrf_token %}

  </div>
</div>

<!-- submission paper -->

<!-- submission button -->
<div class="container">
  <div class="buttonEffect">
      <a align="center"class="effect rightPointEffect" href="javascript:form1.submit()" style="top: 800px;">Sign up</a>
    </div>
</div>
</form>
<!-- submission button -->

{% endblock %}
