{% extends './homeTemplate.html' %}

{% block title %}SearchResults{% endblock %}

{% block style %}

a.active{
  background-color: #3498db;
  pointer-events: none;
}

li.slider{
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3498db;
  z-index: 8;
  transition: left 0.4s, background-color 0.4s;
}

{% endblock %}

{% block mainContent %}

    <div id="wrap">
      <div id="left-content">
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
      </div>
      <div id="right-content">
        <br><br>
      </div>
    </div>

{% endblock %}
