{% extends './homeTemplate.html' %}
{% load static %}

{% block title %}user_d{% endblock %}

{% block basicLinks %}

<link rel="stylesheet" href="{% static 'walpapir/CSS/menustyle.css' %}" />
<script src="{% static 'walpapir/jQuery/3-3-1.js' %}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous" />
<script type="text/javascript" src="{% static 'walpapir/js/TabSwitcher.js' %}"></script>
<script type="text/javascript" src="{% static 'walpapir/js/FixNavigation.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<script type="text/javascript" src="{% static 'walpapir/js/eraseRedeem.js' %}" ></script>
<link rel="stylesheet" href="{% static 'walpapir/CSS/ButtonEffects.css' %}" />

{% endblock %}

{% block style %}

@media screen and (min-width: 801px) {
  input {
    -webkit-box-shadow: 0px 0.5px 3px #000;
    box-shadow: 0px 0.5px 3px #000;
  }
  /*This font CSS takes balance between black and gray  */
  font {
    color: #2d2d2d;
  }
  p {
    font-size: 16px;
  }
  a.active{
    background-color: #16a085;
    pointer-events: none;
  }
  li.slider{
    width: 25%;
    height: 100%;
    position: absolute;
    left: 75%;
    top: 0;
    background-color: #16a085;
    z-index: 8;
    transition: left 0.4s, background-color 0.4s;
  }
  #flexibleBox {
    display: block;
    position: absolute;
    width: 58%;
    height: auto;
    background-image: url("{% static 'walpapir/UI/paper.png' %}");
    left: 6%;
    top: 170px;
    border-radius: 12px;
  }
  .notContentBox {
    position: absolute;
    top: 6%;
    height: 260px;
    width: 100%;
    display: flex;
    background-image: url("{% static 'walpapir/UI/paper.png' %}");
    border-radius: 12px 12px 0px 0px;
  }
  .contentBox {
    position: absolute;
    top: 260px;
    width: 100%;
    height: auto;
    background-image: url("{% static 'walpapir/UI/paper.png' %}");
  }
  .contentBoxUnder {
    position: absolute;
    top: 310px;
    width: 100%;
    height: auto;
    background-image: url("{% static 'walpapir/UI/paper.png' %}");
  }
  .iconBox {
    /* Regulated size of an icon */
    position: absolute;
    top: 50px;
    left: 12%;
    height: 180px;
    width: 120px;
  }
  .sentenceBox {
    position: absolute;
    top: 50px;
    right: 6%;
    height: 180px;
    width: 50%;
    display: block;
  }
  #squareWrapper {
    left: 7%;
    right: 7%;
    width: auto;
    height: auto;
    display: flex;
    background-image: url("{% static 'walpapir/UI/paper.png' %}");
    border-radius: 0px 0px 12px 12px;
  }
  /* A selected element border will be lined */
  .squareFavTab {
    display: inline-block;
    color: #ff3e9e;
    z-index: 3;
    width: 50%;
    height: 50px;
    background: #ffddee;
    border: 1px solid #ff3e9e;
    border-bottom: 1px solid #ff3e9e;
    border-right: 0;
    border-left: 0;
    cursor: pointer;
  }
  .squareFavTab:hover {
    color: #fff;
    background-color: #ff3e9e;
    transition: background-color 250ms ease-in;
  }
  .squareFavTab:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    z-index: -1;
    background: #ffddee;
    transform: scaleY(1.3) perspective(0.6em) rotateX(5deg);
    transform-origin: bottom left;
    border-radius: 8px 8px 0 0;
  }
  .squarePostTab {
    display: inline-block;
    color: #00acff;
    z-index: 3;
    width: 50%;
    height: 50px;
    background: #c1ebff;
    border: 1px solid #00acff;
    border-bottom: 1px solid #00acff;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
  }
  .squarePostTab:hover {
    color: #fff;
    background-color: #00acff;
    transition: background-color 250ms ease-in;
  }
  .squarePostTab:before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    z-index: -1;
    background: #c1ebff;
    transform: scaleY(1.3) perspective(0.6em) rotateX(5deg);
    transform-origin: bottom left;
    border-radius: 8px 8px 0 0;
  }
  .favContent {
    display: none;
    height: auto;
    width: 100%;
  }
  .postContent {
    display: inline;
    height: auto;
    width: 100%;
  }
  .activePostTab {
    color: #fff;
    background-color: #00acff;
  }
  .activeFabTab {
    color: #fff;
    background-color: #ff3e9e;
  }
  #fontAdjuster {
    font-size: 4;
  }

  body .buttonEffect {
    padding: 30px, 0px;
  }

  body .buttonEffect a{
    z-index: 4;
    background-color: #0074e8;
    cursor: pointer;
    box-shadow: 0px 2px 14px #000;
  }


  .effectU {
    text-align: center;
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-family: Courier, monospace;
    font-size: 18px;
    padding: 20px 0px;
    border-radius: 6px;
    border-style: none;
    overflow: hidden;
    z-index: 20;
    cursor: pointer;
  }

  .effectU.rightPointEffect {
    position: absolute;
    top: 170px;
    left: 69%;
    width: 170px;
    background-color: #9d4dee;
    transition: all 0.2s linear 0s;
  }

  .effectU.rightPointEffect:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0a4";
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0px 6px 6px 0px;
    transition: all 0.2s linear 0s;
    text-align: center;
  }

  .effectU.rightPointEffect:hover {
    text-indent: -30px;
  }

  .effectU.rightPointEffect:hover:before {
    right: 0;
    text-indent: 0px;
  }
}


@media screen and (max-width: 801px) {
  input {
    -webkit-box-shadow: 0px 0.5px 3px #000;
    box-shadow: 0px 0.5px 3px #000;
  }
  /*This font CSS takes balance between black and gray  */
  font {
    color: #2d2d2d;
  }
  p {
    font-size: 16px;
  }
  a.active{
    background-color: #16a085;
    pointer-events: none;
  }
  li.slider{
    width: 25%;
    height: 100%;
    position: absolute;
    left: 75%;
    top: 0;
    background-color: #16a085;
    z-index: 8;
    transition: left 0.4s, background-color 0.4s;
  }
  #flexibleBox {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    background-image: url("{% static 'walpapir/UI/paper.png' %}");
    left: 6%;
    right: 6%;
    top: 0;
    border-radius: 12px;
  }
  .notContentBox {
    position: absolute;
    top: 6%;
    height: 260px;
    width: 100%;
    display: flex;
    background-image: url("{% static 'walpapir/UI/paper.png' %}");
    border-radius: 12px 12px 0px 0px;
  }
  .contentBox {
    position: absolute;
    top: 260px;
    width: 100%;
    height: auto;
    background-image: url("{% static 'walpapir/UI/paper.png' %}");
  }
  .contentBoxUnder {
    position: absolute;
    top: 310px;
    width: 100%;
    height: auto;
    background-image: url("{% static 'walpapir/UI/paper.png' %}");
  }
  .iconBox {
    /* Regulated size of an icon */
    position: absolute;
    top: 50px;
    left: 12%;
    height: 180px;
    width: 120px;
  }
  .sentenceBox {
    position: absolute;
    top: 50px;
    right: 6%;
    height: 180px;
    width: 50%;
    display: block;
  }
  #squareWrapper {
    left: 7%;
    right: 7%;
    width: auto;
    height: auto;
    display: flex;
    background-image: url("{% static 'walpapir/UI/paper.png' %}");
  }
  /* A selected element border will be lined */
  .squareFavTab {
    display: inline-block;
    color: #ff3e9e;
    z-index: 3;
    width: 50%;
    height: 50px;
    background: #ffddee;
    border: 1px solid #ff3e9e;
    border-bottom: 1px solid #ff3e9e;
    border-right: 0;
    border-left: 0;
    cursor: pointer;
    align-content: center;
    text-align: center;
  }
  .squareFavTab:hover {
    color: #fff;
    background-color: #ff3e9e;
    transition: background-color 250ms ease-in;
  }
  .squareFavTab:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    z-index: -1;
    background: #ffddee;
    transform: scaleY(1.3) perspective(0.6em) rotateX(5deg);
    transform-origin: bottom left;
    border-radius: 8px 8px 0 0;
  }
  .squarePostTab {
    display: inline-block;
    color: #00acff;
    z-index: 3;
    width: 50%;
    height: 50px;
    background: #c1ebff;
    border: 1px solid #00acff;
    border-bottom: 1px solid #00acff;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
  }
  .squarePostTab:hover {
    color: #fff;
    background-color: #00acff;
    transition: background-color 250ms ease-in;
  }
  .squarePostTab:before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    z-index: -1;
    background: #c1ebff;
    transform: scaleY(1.3) perspective(0.6em) rotateX(5deg);
    transform-origin: bottom left;
    border-radius: 8px 8px 0 0;
  }
  .favContent {
    display: none;
    height: auto;
    width: 100%;
  }
  .postContent {
    display: inline;
    height: auto;
    width: 100%;
  }
  .activePostTab {
    color: #fff;
    background-color: #00acff;
  }
  .activeFabTab {
    color: #fff;
    background-color: #ff3e9e;
  }
  #fontAdjuster {
    font-size: 2;
  }
}

{% endblock %}



{% block mainContent %}

<script type="text/javascript">
  $(function(){
    const rpe = $('.rightPointEffect');
    rpe.on('click', function(){
      //check whether the user has enough point to redeem(1st)
      if(parseInt({{User.get_point}}) >= 1000){
        {{FreeMessages.validateShortMsg}}
        location.href = "{% url 'walpapir:redeem_d' %}"
      }else{
        {{FreeMessages.errorShortMsg}}
        location.href = "{% url 'walpapir:user_d' %}"
      }
    });
  })
</script>

<button class="effectU rightPointEffect" type="button" href="{% url 'walpapir:redeem_d' %}">
  Redeem Points
</button>

<div id="wrap">

  <div id="flexibleBox">

    <div class="notContentBox">
      {% block editButton %}
      <a class="editButton" href="{% url 'walpapir:userEdit_d' %}">Edit</a>
      {% endblock %}

      <div class="iconBox">{% block iconBox %}
        <input type="image" src="{% static 'walpapir/180x120.jpeg' %}"/>
      {% endblock %}</div>

      <div class="sentenceBox">

        <font size="6">{% block userName %}{{ User.get_point }}NONAME{% endblock %}
          &nbsp;&nbsp;&nbsp;&nbsp;{{FreeMessages.getRdmErrorMsg1}}</font>
        <br><br>
        <div id="fontAdjuster">Following:&nbsp;X&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Follower:&nbsp;Y</div>

          <!-- X and Y should receive parameters from server -->

        <br><br>
        <font size="4">
          {% block description %}
          Description
          {% endblock %}
        </font>
      </div>
    </div>

    <div class="contentBox">
      <!-- This section contains site showing posts from users -->
      <ul id="squareWrapper">

        <li class="squarePostTab activePostTab">
          <p align="center"><i class="fas fa-paper-plane"></i></p>
        </li>

        <li class="squareFavTab">
          <p align="center"><i class="fa fa-heart"></i></p>
        </li>

      </ul>
    </div>

    <div class="contentBoxUnder">
      <div class="postContent">{% block postContent %}
        postcontent
      {% endblock %}</div>
      <div class="favContent">{% block favContent %}
        favcontent
      {% endblock %}</div>
    </div>
  </div>

  <div id="right-content">
    <br><br>
  </div>
</div>
{% endblock %}
